
body{
     width: 100%;
}

.about-us-row {
    height: 522px;
    width: 1300px;
    padding: 5%;
    background: url(../images/Artboard1.png) no-repeat;
    background-size: 100%;
    background-position: center;
    background-color: #F8F9FA;
}

.divider {
    height: 10px;
    width: 100%;
    background-color: #F8F9FA;
    overflow: scroll;
}

.stem-charities-row {
    float: left;
    height: 522px;
    width: 1300px;
    padding: 5%;
    background: url(../images/Artboard2.png) no-repeat;
    background-size: 100%;
    background-position: center;
    background-color: #F8F9FA;
}


