<!DOCTYPE html>
<head>
   <title>Login Page</title>
   <link href="/css/loginSignUp.css" rel="stylesheet" type="text/css">
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Groceries Help Women in STEM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Login or Sign-Up</a>
          </li>
        </ul>
      </div>
  </nav>
  <div class='forms-body'>
        <div class="login-box">
          <h1>Login</h1>
          <form action="login" method="POST">
          <p>Username</p>
          <input type="text" name="username" placeholder="" id="username">
          <p>Password</p>
          <input type="password" name="password" placeholder="" id="password">
          <button class="login-button" id="login" type="login" name="login" value="login">Login</button>
          </form>
          <div class="main-button">
            <a href="/">Back</a>
          </div>
        </div>
        <div class="box">
            <h1>Sign Up</h1>
                <form action="auth" method="POST"></form>
                  <p>Username</p>
                  <input type="text" name="username" id="username" placeholder="">
                  <p>Password</p>
                  <input type="password" name="password" id="password" placeholder="">
                  <button class="signup" id="signup" type="signup" name="signup" value="signup">Sign Up</button>
                  </form>
                  <div class="main-button">
                      <a href="/">Back</a>
                    </div>
          </div>
          </div>  
    </body>
</html>